/* PELHAMHS /themes/default/css/local.css  V1.0.06 */

textarea {
        color: #000;
        background-color: #fff
}




.displayObjectbyCase > .case {	border-radius: 10px;
				border:1px solid black;
				padding:14px;
}				
				
.displayObjectbyCase h2 {	border-radius: 10px;
				border:1px solid black;
				padding:4px;
				font-size:3em;
				width:50px;
				height:50px;
				color:#ffffff;
				background: black;
				text-align:center;
}
.displayLocationbyCase		{width: 500px}

.displayLocationbyCase > .case 	{
				border-radius: 10px;
				border:1px solid black;
				padding:14px;
}	

.displayLocationbyCase > .case > .object
				{
				min-height: 50px;
}			

.displayLocationbyCase > .case > .object > .idno 	
				{font-weight:bold; }
.displayLocationbyCase > .case > .object >.itemname
				{font-weight:bold;
				font-style:italic
				}
.displayLocationbyCase > .case > .object > .qr 	
				{border: 1px solid green;
				float:right;
				margin-right:25px;
				height:50px;width:50px;font-size:6px}
.displayLocationbyCase > .case > .object > .description 	
				{margin-left:10px; }

.displayLocationbyCase h1 {	text-align:center;
				}				
.displayLocationbyCase h2 {	border-radius: 10px;
				/*border:1px solid black;*/
				padding:4px;
				font-size:3em;
				width:50px;
				height:50px;
				color:#ffffff;
				background: black;
				text-align:center;
}


/* often times referred to as bundlePreview */
.bundleContentPreview {
	text-align:left;
	display:inline-block;
	color:#888888;
	font-family: helvetica, sans-serif;
	font-weight:normal;
	font-size:13px;
	padding-top:2px;
	padding-left:10px;
	overflow: auto;
	white-space: nowrap;
	text-overflow: ellipsis;
	width:  100%;
	vertical-align:bottom;
	padding-bottom:5px;
}
.hierarchyPreview{font-size:6px
	}